body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: #f5f5f5;
}

#zip-code {
    margin-top: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 0;
    height: 40px;
    width: 200px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #5fbaa7;
    border-bottom: 4px solid #5fbaa7;
}


@media screen and (max-width: 1028px) {
    #zip-code {
        left: 390px;
    }
}

main {
    flex: 1 1 100%;
    padding-top: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    color: #5fbaa7;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
    position: relative;
    top: 100px;
}

.location .date {
    color: #5fbaa7;
    font-size: 16px;
    position: relative;
    top: 105px;
}

.current .temp {
    color: #5fbaa7;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
    transition: transform 1s;
}

.current .temp:hover {
    font-size: 10rem;
    transform: rotate(360deg);
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    color: #5fbaa7;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
}

.current .hi-low {
    color: #5fbaa7;
    font-size: 24px;
    font-weight: 500;
}


.current .hi-low-c {
  color: #5fbaa7;
  font-size: 24px;
  font-weight: 500;
}
