body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: #f5f5f5;
}

#zip-code {
    position: relative;
    top: 50px;
    left: 860px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 0;
    height: 40px;
    width: 200px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #5fbaa7;
    border-bottom: 4px solid #5fbaa7;
}

#continent {
  position: relative;
  top: 50px;
  left: 860px;
  border-radius: 10px;
  height: 60px;
  width: 200px;
  font-size: 1.2rem;
  font-family: cursive;
}


@media screen and (max-width: 1028px) {
    #zip-code {
        left: 390px;
    }
}

main {
    flex: 1 1 100%;
    padding-top: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    color: #5fbaa7;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
    position: relative;
    top: 100px;
}

.location .date {
    color: #5fbaa7;
    font-size: 16px;
    position: relative;
    top: 105px;
}

.current .temp {
    color: #5fbaa7;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
    transition: transform 1s;
}

.current .temp:hover {
    font-size: 10rem;
    transform: rotate(360deg);
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    color: #5fbaa7;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
}

.current .hi-low {
    color: #5fbaa7;
    font-size: 24px;
    font-weight: 500;
}


.current .hi-low-c {
  color: #5fbaa7;
  font-size: 24px;
  font-weight: 500;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 2px;
    padding-left: 5%;
  }

  @media only screen and (max-width: 1028px) {
      .switch {
        padding-left: 0%;
      }
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
    color: white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .card {
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    left: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container .row div.footer-card {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    left: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: lightgrey;
}

#paul {
    width: 200px;
    border-radius: 10px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    position: relative;
    left: 100px;
    height: 336px;
}



#phone {
    font-size: 150px;
    background-color: lime;
    text-align: center;
    height: 336px;
    width: 200px;
    position: relative;
    left: 100px;
    padding-top: 5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#menu {
    font-size: 150px;
    background-color: lime;
    text-align: center;
    height: 240px;
    width: 200px;
    position: relative;
    left: 100px;
    padding-top: 5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer {
    position: relative;
    top: 400px;
    background-color: #474646;
    height: 600px;
}

.footer-text {
    position: relative;
    bottom: 30px;
}

#hover-text:hover {
    color: red;
}

@media screen and (max-width: 1028px) {
    .container .row div.footer-card {
        left: 230px;
    }

    #paul {
        left: 230px;
    }

    #phone {
        left: 230px;
    }

    #menu {
        left: 230px;
    }

    footer {
        height: 2250px;
    }
}